.idea/
.idea_backup/
__pycache__/
venv/
.ipynb_checkpoints/
DataUtils/.ipynb_checkpoints/
Networks/.ipynb_checkpoints/
Networks/__pycache__/
TrainUtils/.ipynb_checkpoints/
TrainUtils/__pycache__/
TrainUtils/__pycache__/NetworkTrainer.cpython-311.pyc
Networks/__pycache__/StimulusConv1d.cpython-311.pyc
TrainUtils/__pycache__/StatsHolder.cpython-311.pyc